@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face{
  font-family: "textual";
  src: url("../../public/font/textual.ttf")
}
@font-face{
  font-family: "roboto";
  src: url("../../public/font/Roboto-Black.ttf");
}

@font-face{
  font-family: "aeonik";
  src: url("../../public/font/aeonik-regular.ttf")
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.textual{
  font-family: "textual"!important;
}
.roboto{
  font-family: "roboto"!important;
}

.aeonik{
  font-family: "aeonik"!important;
}
.ql-font-roboto{
  font-family: "roboto";
}
.ql-font-textual{
  font-family: "textual";
}
.editor-color{
  background-color: transparent!important;
}
/* font-family: '__ManropeFont_e02189', '__ManropeFont_Fallback_e02189' !important; */

.ql-editor {
  font-family: "";
}


/* .ql-container {
  box-sizing: border-box;
  font-family: "textual";
  font-size: 17px;
  height: 100%;
  margin: 21px;
  position: relative;
} */